@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap');

:root {
    --primary-color: #ffa336;
}

* {
    margin: 0 auto;
    max-width: 1360px;
    padding: 0;
    /* background: #141301; */
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'ZCOOL XiaoWei', serif;
}

ul {
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    align-items: center;
}

button {
    cursor: pointer;
}

/* Nav section start */
.nav {
    width: 100%;
}

.nav_section {
    display: flex;
    background: transparent;
    padding: 1rem 1rem 1rem 3rem;
    align-items: center;
}

.nav1 {
    width: 45%;
}

.nav1 h1 {
    letter-spacing: 0.8px;
}

.nav1 h1 {
    color: #fff;
}

.nav2 {
    width: 45%;
}

.nav2 a {
    color: #fff;
    font-weight: 500;
}

.nav2 ul {
    padding: 0 3rem;
}

.nav3 {
    width: 10%;
}

.nav3 button {
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 30px;
    background: transparent;
    color: #fff;
    font-weight: 600;
}



/* Nav section complete */
/* section start */
.main1 {
    width: 100%;
    background-image: url(./images/main1.webp);
    background-size: cover;
    height: 600px;
    margin-top: -11rem;
    padding: 16rem 0 5rem 0;
}

.section1 {
    padding: 5rem 28rem 5rem 3rem;
    color: #fff;
}

.sec1_p1 {
    letter-spacing: 1.4px;
    padding: 1rem 0;
}

.section1 button {
    padding: 1.2rem 1.7rem 1.4rem 1.7rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    letter-spacing: 0.7px;
    align-items: center;
}

.section1 button i {
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

.sec1_p2 {
    font-size: 1.1rem;
    padding: 1rem 20rem 1rem 0;
    line-height: 1.66;
}

.section1 h2 {
    font-size: 2.9rem;
    letter-spacing: 1px;
}

/*  */
.section1_2 {
    width: 100%;
    align-items: center;
}

.sec1_main2 {
    padding: 2.2rem 1rem;
    display: flex;
    margin: 1rem 4rem;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 15px;
}

.sec1_c1 {
    display: flex;
    width: 85%;
    background: #fff;
    padding: 0 1rem;
    border-radius: 40px;
    margin: 0 1rem;
}

.sec1_c1 i {
    color: #989aa2;
    font-size: 1.4rem;
}

.sec1_c1 p {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem 0 0.4rem 0;
}

.sec1_c1 h5 {
    padding-bottom: 0.8rem;
}

.sec1_c2 {
    width: 15%;
}

.sec1_c2 button {
    padding: 1.4rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    letter-spacing: 0.7px;
    align-items: center;
}

.c1_p1 {
    width: 50%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(194, 194, 194);
}

.c1_p1_mid {
    width: 75%;
}

.c1_p1_mid h4 {
    padding-bottom: 1rem;
}

.c1_p1_i1 {
    width: 15%;
}

.c1_p1_i2 {
    width: 10%;
}

.c1_p2 {
    width: 17%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(194, 194, 194);
    padding: 0 3rem;
}

.c1_p2_1 {
    width: 30%;
}

.c1_p2_2 {
    width: 70%;
}

.c1_p3 {
    width: 16%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

/* Section1 complete */
/* Now Section2 start */
.main2 {
    width: 100%;
    padding: 3rem 0;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 2rem 10rem;
    grid-gap: 2rem;

}

.main2 h1 {
    text-align: center;
    padding: 2rem 0 1rem 0;
    font-size: 3rem;
    letter-spacing: 1px;
}

.main2_p {
    text-align: center;
    padding: 0 24rem;
    line-height: 1.5;
    font-weight: 500;
    color: gray;
}

.main2 span {
    color: var(--primary-color);
    font-family: 'ZCOOL XiaoWei', serif;
}

.m2 {
    border-radius: 30px;
    box-shadow: 0 0 10px 10px #e9e9e9;
    color: #4e5970;
}

.m2_main {
    padding: 2rem 1rem;
}

.m2_1 {
    display: flex;
    align-items: center;
}

.m2_1 h3 {
    font-weight: 600;
}

.m2 p {
    padding: 1rem 0.5rem;
    font-size: 0.95rem;
    font-weight: 600;
}

.m2 p i {
    color: #000;
    padding-right: 0.7rem;
}

.section2 img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* Section 2 complete */
/* Now section 3 start */
.main3 {
    width: 100%;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2rem 10rem;
    grid-gap: 2rem;
    position: relative;
}

.m3_main1 h3 {
    padding: 0.5rem 0;
    color: #6c7791;
}

.m3_main1 h1 {
    font-size: 3.1rem;
    padding: 1rem 0;
    color: #13183d;
    line-height: 1.2;
}

.m3_1 {
    display: flex;
    width: 100%;
    padding: 1rem 0;
}

.m3_1_c1 {
    width: 13%;
}

.m3_1_c2 {
    width: 87%;
}

.m3_1_c2 h4 {
    padding-bottom: 0.3rem;
    font-weight: 800;
    letter-spacing: 0.2px;
    color: #556077;
}

.m3_1_c2 p {
    font-size: 0.9rem;
    font-weight: 500;
    color: gray;
    padding-right: 6rem;
}

.m3_main2 {
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0 20px 20px #f3f4f4;
}

.m3_main2 h4 {
    padding: 0.4rem;
    letter-spacing: 0.6px;
}

.m3_main2 p {
    padding: 0.5rem;
    font-weight: 600;
    color: #808594;
    letter-spacing: 0.8px;
}

.m3_main2_icon i {
    color: #808797 !important;
    padding: 0.5rem;
    background: #f4f5f5;
    border-radius: 100%;
    margin: 0.7rem;
    font-size: 0.8rem;
}

.m3_main2 p i {
    padding: 0 1rem 0 0.5rem;
}

.m3_last_0 {
    width: 190px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px #f3f4f4;
    padding: 0.7rem 1.4rem;
    position: absolute;
    right: 9%;
    background: #fff;
    display: flex;
    top: 17.5rem;
}

.m3_01 {
    width: 35%;
}

.m3_02 {
    width: 65%;
}

.m3_02 p {
    font-size: 0.8rem;
    font-weight: 600;
    color: #808594;
    line-height: 1.3;
}

.m3_02 h4 {
    padding: 0.5rem 0;
}

.m3_02 span {
    color: var(--primary-color);
}

.m3_pro {
    background: #dfdfdf;
    border-radius: 30px;
}

.m3_pro h1 {
    color: var(--primary-color);
    width: 41%;
    background: var(--primary-color);
    height: 5px;
    margin: 0.6rem 0;
    border-radius: 30px;
}

/* section3 complete */
/* Now section 4 start */
.main4 {
    width: 100%;
    padding: 4rem 0;
}

.main4 h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

.main4 span {
    font-family: 'ZCOOL XiaoWei', serif;
    color: var(--primary-color);
}

.section4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 3rem;
    padding: 2rem 9rem;
}

.m4 {
    padding: 0.8rem;
    box-shadow: 0 0 10px 10px #f3f4f4;
    border-radius: 20px;
}

.m4 h4 {
    padding: 0.7rem 0.3rem;
}

.m4_icons {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
}

.m4_i1 {
    width: 62%;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #aeadad;
    align-items: center;
    padding-top: 0.8rem;
}

.m4_i1 i {
    padding-right: 0.2rem;
}

.m4_i2 {
    width: 38%;
    color: #aeadad;
}

.m4_i2 h6 {
    font-size: 0.6rem;
    padding-left: 0.8rem;
    font-weight: 400;
    padding-bottom: 0.3rem;
}

.m4_c2 {
    font-size: 0.75rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: #aeadad;
    letter-spacing: 0.5px;
}

.main4 button {
    text-align: center;
    margin-left: 38rem;
    padding: 1rem 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    color: #fff;
    background: var(--primary-color);
    margin-top: 1.5rem;
    letter-spacing: 0.3px;
}

/* section4 complete */
/* Now section5 start */
.main5 {
    width: 100%;
    padding: 4rem 0;
}

.section5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1rem;
    padding: 0 6rem;
}

.main5 h1 {
    font-size: 3rem;
    text-align: center;
}

.main5 span {
    font-family: 'ZCOOL XiaoWei', serif;
    color: var(--primary-color);
}

.m5_main2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: -12rem;
}

.m5_c3 {
    display: flex;
    padding: 1rem;
    box-shadow: 0 0 10px 10px #f4f5f5;
    border-radius: 10px;
    margin: 2rem 0;
    width: 73%;
}

.m5_i1 {
    width: 20%;
}

.m5_i1 i {
    font-size: 2.1rem;
    color: var(--primary-color);
}

.m5_i2 {
    width: 80;
}

.m5_i2 h3 {
    font-size: 1.5rem;
}

.m5_i2 p {
    font-size: 0.8rem;
    font-weight: 600;
    padding-top: 0.5rem;
}

.m5_last {
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #767575;
    padding-right: 2rem;
}

/* section5 complete */
/* section6 start */
.main6 {
    width: 100%;
    padding: 4rem 0;
}

.main6 h1 {
    font-size: 3rem;
    text-align: center;
}

.main6 span {
    font-family: 'ZCOOL XiaoWei', serif;
    color: var(--primary-color);
}

.section6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 2rem 8rem;
}

.m6_c1 {
    box-shadow: 0 0 20px 20px #f3f4f4;
    padding: 2rem;
    border-radius: 10px;
    margin-top: -0.65rem;
    border-left: 12px solid var(--primary-color);
    margin-left: 0.1rem;
}

.m6_c1 p {
    padding: 0 1rem;
    border-left: 2px solid var(--primary-color);
    line-height: 1.55;
    font-size: 1.09rem;
    margin: 1rem 0 1rem 1rem;
}

.m6_icon {
    display: flex;
    padding-top: 2rem;
    align-items: flex-end;
}

.m6_icon p {
    color: #777e92;
    border: none;
    margin: 0;
    padding: 0 2rem;
    font-weight: 600;
}

.m6_i2 i {
    color: var(--primary-color);
}

.m6_main2 p {
    font-size: 1.3rem;
    padding: 1rem 0 0 2rem;
    letter-spacing: 1px;
    color: #767575;
}

.m6_main2 button {
    padding: 1rem 1.7rem 1.3rem 1.7rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50px;
    letter-spacing: 0.7px;
    align-items: center;
    margin: 1.5rem 0 0 9.5rem;
}

.m6_main2 button i {
    font-size: 1.5rem;
    margin-left: 0.2rem;
}
/* section6 complete */
/* Now section 7 start */
.main7{
    width: 100%;
    background-image: url(./images/footer.jpg);
    background-size: cover;
    text-align: center;
    padding: 2rem 0;
}
.m7 h1{
    font-size: 3.2rem;
    color: var(--primary-color);
   padding: 1.3rem 0;
}
.m7 span{
    font-family: 'ZCOOL XiaoWei', serif;
    color: #13183d;
}
.m7 p{
    font-size: 1.3rem;
    color: #fff;
    padding-bottom: 2rem;
}
.m7_input input{
    padding: 1rem 30rem 1rem 1rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    background: transparent;
    border: none;
}
.m7_input{
    padding: 0.3rem ;
    background: #fff;
    margin: 1rem 15rem;
    border-radius: 40px;
}
.m7 button {
    padding: 1.4rem 3rem;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background: var(--primary-color);
    color: #fff;
    border-radius: 40px;
    margin-left: 0.5rem;
}
/* section7 complete */
/* Now footer section start */
.footer{
    width: 100%;
    padding-bottom: 2rem;
}
.footer_sec{
    display: flex;
    padding: 3rem 4rem;
}
.f1{
width: 7%;
}
.f2{
    width: 23%;
}
.f2 p{
    font-size: 0.8rem;
    padding: 0.5rem 3rem 0 0;
    line-height: 1.4;
    font-weight: 600;
      color: #828999;
}
.f3{
    width: 17%;
}
.f3 h3{
    padding-bottom: 0.7rem;
}
.f3 ul{
    display: inline-block;
}
.f3 ul li{
    padding: 0.4rem 0;
    font-weight: 500;
}
.f3 a{
  color: #828999;
}
.f4{
    width: 18%;
}
.f_icon{
    padding-left: 1rem;
}
.f_icon i{
    font-size: 1.4rem;
    padding: 0.5rem;
    background: #f7f7f7;
    border-radius: 100%;
    color: var(--primary-color);
    margin: 0 0.5rem;
}
.f4 p{
    text-align: center;
    font-weight: 600;
    color: #828999;
    padding: 1rem 0;
}
/*  */
.last{
    text-align: center;
    font-size: 0.95rem;
    font-weight: 500;
    color: #828999;
}